<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name ="PhoneConnect" 
			connectionString="Data Source=DESKTOP-CS11CFJ\SQLEXPRESS;Initial Catalog=PHONE;Persist Security Info=True;User ID=loczxph;Password=123456789;" 
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>